body {

    background-color: lightblue;
    
    
}

h1 {

    background-color: brown;
    color: antiquewhite;
    margin-left: -200px;
    Padding: 50px;  
    
   
    
}

.row1 {

    background-color: blanchedalmond;
    color: green;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 800px;
    margin-left: -215px;
    Padding-top: 25px;
    padding-bottom: 25px;
   
   
}

.row2 {

    background-color: green;
    color: black;
    Height:160px;
    width: 35%;
    margin-right: 930px;
    float:right;
    margin-top: 25px;
    text-align: justify;
    
}

.row3 {


    background-color: blueviolet;
    text-align: justify;
    Height:80px;
    width: 35%;
    margin-right: 930px;
    float:right;
    margin-top: 25px;
    text-align: justify;
    
 
}
.row4 {

    background-color: aqua;
    color: white;
    padding: 20px;
    text-align: justify;
    Height:80px;
    width: 35%;
    margin-right: 930px;
    float:right;
    margin-top: 25px;

   
}

.row5 {

    background-color: blue;
    color: white;
    padding: 20px;
    text-align: justify;
    Height:80px;
    width: 35%;
    margin-right: 930px;
    float:right;
    margin-top: 25px;

}



