body {

    background-color: lightblue;
        
}

.header {

    background-color: brown;
    color: antiquewhite;
    Padding: 25px;
    
}



.thehowtos {

    background-color: green;
    color: black;
    padding:25px;    
  
}



.totalScore {

    background-color: aqua;
    color: white;
    padding: 25px;

    
      
}

.scoreDisplay {

    background-color: black;
    color: white;
    Padding:25px;
   
   
}



